CREATE TABLE traveler_locations (
    traveler_id INT,
    traveler_name STRING,
    cities_visited ARRAY<STRING>
) WITH (
    'connector' = 'kafka',
    'topic' = 'traveler-locations',
    'properties.bootstrap.servers' = 'localhost:KAFKA_PORT',
    'scan.startup.mode' = 'earliest-offset',
    'scan.bounded.mode' = 'latest-offset',
    'key.format' = 'raw',
    'key.fields' = 'traveler_id',
    'value.format' = 'avro-confluent',
    'value.avro-confluent.url' = 'http://localhost:SCHEMA_REGISTRY_PORT',
    'value.fields-include' = 'EXCEPT_KEY'
);
